@model GROUP_Q.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<main aria-labelledby="title">
    <h2 id="title" style="font-family: Arial, sans-serif; color: red;">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 style="font-family: Arial, sans-serif; color: black;">Enter your email.</h4>
        <hr style="border-color: black;" />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label", style = "font-family: Arial, sans-serif; color: black;" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "font-family: Arial, sans-serif; color: black;" })
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark" value="Email Link" style="font-family: Arial, sans-serif; color: white; background-color: black;" />
            </div>
        </div>
        @*<p>
            @Html.ActionLink("Send Code", "SendCode", null, new { style = "font-family: Arial, sans-serif; color: red;" })
        </p>*@
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
